*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,Arial,sans-serif;
}


body{

background:#050505;
color:white;
overflow-x:hidden;

}



header{

display:flex;
justify-content:space-between;
align-items:center;

padding:35px 8%;

}


.logo{

font-size:30px;
font-weight:700;

}


.logo span{

color:#777;

}



button{

cursor:pointer;
border:none;

}



.small-btn{

background:white;
color:black;

padding:12px 25px;

border-radius:50px;

}



.hero{

min-height:90vh;

display:flex;
justify-content:center;
align-items:center;

text-align:center;

position:relative;

}



.hero-content{

max-width:900px;

z-index:2;

}



h1{

font-size:90px;

line-height:0.95;

letter-spacing:-5px;

}



h1 span{

background:linear-gradient(
90deg,#fff,#777
);

-webkit-background-clip:text;

color:transparent;

}



.hero p{

margin-top:35px;

font-size:22px;

color:#888;

}



.main-btn{

margin-top:40px;

padding:18px 40px;

border-radius:50px;

background:white;

font-size:18px;

transition:.3s;

}



.main-btn:hover{

transform:scale(1.08);

}



.orb{

position:absolute;

width:600px;
height:600px;

background:
radial-gradient(
circle,
#555,
transparent 60%
);

filter:blur(70px);

animation:float 8s infinite alternate;

}



@keyframes float{

from{

transform:translateY(-50px);

}

to{

transform:translateY(50px);

}

}




section{

padding:120px 8%;

}



.about{

text-align:center;

}



.about h2{

font-size:70px;

letter-spacing:-3px;

}



.about p{

max-width:600px;

margin:30px auto;

font-size:22px;

color:#999;

line-height:1.5;

}



.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



.card{

padding:40px;

border-radius:30px;

background:
rgba(255,255,255,.05);

backdrop-filter:blur(20px);

transition:.5s;

}



.card:hover{

transform:
translateY(-15px);

}



.card p{

color:#888;

margin-top:15px;

}



.cta{

text-align:center;

}



.cta h2{

font-size:60px;

}




.reveal{

opacity:0;

transform:translateY(50px);

transition:1s;

}


.reveal.active{

opacity:1;

transform:none;

}



@media(max-width:800px){

h1{

font-size:50px;

}


.cards{

grid-template-columns:1fr;

}


.about h2{

font-size:45px;

}

}
