*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
}


body{
    background:#080808;
    color:white;
}


header{

display:flex;
justify-content:space-between;
align-items:center;

padding:30px 8%;

}


.logo{

font-size:26px;
font-weight:700;

}


.logo span{

color:#7c5cff;

}



nav a{

color:#aaa;
text-decoration:none;
margin-left:30px;

}



.hero{

display:flex;
justify-content:space-between;
align-items:center;

padding:80px 8%;
gap:50px;

}



.hero-text{

max-width:650px;

}


h1{

font-size:60px;
line-height:1.1;

}



.hero p{

margin-top:20px;
font-size:22px;

}


.description{

color:#aaa;
font-size:18px!important;

}


button{

margin-top:35px;

padding:16px 30px;

border:none;

background:#7c5cff;

color:white;

border-radius:12px;

font-size:16px;

cursor:pointer;

}



.video-box{

width:350px;
height:450px;

background:#151515;

border-radius:25px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:#777;

}


.video-box div{

font-size:70px;

}



section{

padding:80px 8%;

}



h2{

font-size:40px;
margin-bottom:40px;

}



.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}


.card{

background:#121212;

padding:30px;

border-radius:20px;

}


.card p{

color:#aaa;
margin-top:15px;
line-height:1.5;

}



.process{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}



.process div{

background:#121212;

padding:30px;

border-radius:20px;

}



.process span{

display:block;

font-size:40px;

color:#7c5cff;

margin-bottom:15px;

}



.offer{

text-align:center;

background:#101010;

}



footer{

padding:30px;
text-align:center;
color:#777;

}



@media(max-width:900px){

.hero{

flex-direction:column;

}


.cards,
.process{

grid-template-columns:1fr;

}


h1{

font-size:40px;

}

}
